#tictactoe {
  width: 300px;
  margin-top: 20px;
}

#tictactoe td {
  border: 1px solid black;
  font-size: 50px;
  text-align: center;
  vertical-align:middle;
  height: 100px;
  width: 100px;
}


#tictactoe td:hover {
  background: lightgrey;
  cursor: pointer;
}

#players {
  width: 200px;
}

#players td {
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
}


