<!DOCTYPE html>
<html>
<head>
  <title>Node.js Getting Started on Heroku</title>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>

<body class="container">

  <h1>Tic Tac Toe!</h1>

  <h3 id="winner" class="hide"></h3>

  <table class="table" id="players">
    <tr id="player-x">
      <td class="name">
        <button id="player-btn-x">Join</button>
      </td>
      <td id="player-x-turn">X</td>
    </tr>
    <tr id="player-o">
      <td class="name">
        <button id="player-btn-o">Join</button>
      </td>
      <td id="player-o-turn">O</td>
    </tr>
  </table>

  <table class="table" id="tictactoe">
    <tr>
      <td id="11"></td>
      <td id="12"></td>
      <td id="13"></td>
    </tr>
    <tr>
      <td id="21"></td>
      <td id="22"></td>
      <td id="23"></td>
    </tr>
    <tr>
      <td id="31"></td>
      <td id="32"></td>
      <td id="33"></td>
    </tr>
  </table>

  <button class="btn btn-warning" id="new-game-btn">New Game</button>

  <script src="/socket.io.js"></script>
  <script>
    $(() => {
      const socket = io();

      let boardData = null;   // tracks current moves
      let gameCanStart = false;

      let updateTurn = (turn) => {
        $('#current-turn').text(turn);
      }

      let updateMarkAtPos = (pos, mark) => {
        $(`#${pos}`).text(mark);
      }

      let updateBoard = (board) => {
        Object.keys(board).forEach(pos => {
          let mark = board[pos];
          updateMarkAtPos(pos, mark === null ? '' : mark);
        });
      }

      socket.on('connect', () => {
        console.log('Connected to websocket')
      })

      socket.on('gameInfo', data => {
        // data ->{turn: 'X', board: {'11': null, '12': 'X', ...}, winner: 'X' } });
        boardData = data;
        updateTurn(data.turn);
        updateBoard(data.board);

        if (data.winner !== null) {
          $('#winner').text(`${data.winner} won!`).addClass('show').removeClass('hide');
        }
      });

      socket.on('newGame', () => {
        gameCanStart = true;
        console.log('asdfasdfsadf');
      })

      $('#player-btn-o').click(() => {
        socket.emit('newPlayer', {mark: 'O'});
      });


      $('#player-btn-x').click(() => {
        socket.emit('newPlayer', {mark: 'X'});
      });

      // click on a square -> make a move
      $('#tictactoe td').click((event) => {
        if (boardData.winner === null && gameCanStart) {
          let pos = event.target.id;
          socket.emit('makeMove', {pos: pos});
        }
      });

      $('#new-game-btn').click(event => {
        $('#winner').text('').addClass('hide').removeClass('show');
        socket.emit('eraseGame');
        gameCanStart = false;
      });

    })

  </script>

</body>
</html>
