<!DOCTYPE html>
<html>
<head>
  <title>Node.js Getting Started on Heroku</title>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>

<body class="container">

  <h1>Tic Tac Toe!</h1>

  <h3 id="winner" class="hide"></h3>

  <div id="play-btn-container">
    <button class="btn btn-default play-btn" data-mark="X">Play X</button>
    <button class="btn btn-default play-btn" data-mark="O">Play O</button>
  </div>

  <table class="table" id="tictactoe">
    <tr>
      <td id="11"></td>
      <td id="12"></td>
      <td id="13"></td>
    </tr>
    <tr>
      <td id="21"></td>
      <td id="22"></td>
      <td id="23"></td>
    </tr>
    <tr>
      <td id="31"></td>
      <td id="32"></td>
      <td id="33"></td>
    </tr>
  </table>

  <button class="btn btn-warning" id="new-game-btn">New Game</button>

  <script src="/socket.io.js"></script>
  <script>
    $(() => {
      const socket = io();
      console.log(socket.io.engine.id);

      let boardData = null;   // tracks current moves
      let gameCanStart = false;
      let localSocketId = null;

      let updateTurn = (turn) => {
        $('#current-turn').text(turn);
      }

      let updateMarkAtPos = (pos, mark) => {
        $(`#${pos}`).text(mark);
      }

      let updateBoard = (board) => {
        Object.keys(board).forEach(pos => {
          let mark = board[pos];
          updateMarkAtPos(pos, mark === null ? '' : mark);
        });
      }

      let updatePlayers = players => {
        console.log(players)

        if (Object.keys(players).length >=2) {
          Object.keys(players).forEach(socketId => {
            let player = players[socketId];
            $(`.play-btn[data-mark="${player.mark}"]`).text(`${player.mark} - ${player.name}`).prop('disabled', true);
          }); 
        } else {
          let localPlayer = players[localSocketId];
          if (localPlayer) {
            let otherMark = localPlayer.mark === 'X' ? 'O' : 'X';
            $(`.play-btn[data-mark="${localPlayer.mark}"]`).text(`${localPlayer.mark} - ${localPlayer.name}`).prop('disabled', true);
            $(`.play-btn[data-mark="${otherMark}"]`).text(`${otherMark} - waiting for other player`).prop('disabled', true);
          } else {
            Object.keys(players).forEach(socketId => {
              let player = players[socketId];
              $(`.play-btn[data-mark="${player.mark}"]`).text(`${player.mark} - ${player.name}`).prop('disabled', true);
            }); 
          }
        }
      }

      let makeElementVisible = (elementShouldBeVisible, $element) => {
        if (elementShouldBeVisible) {
          $element.addClass('show').removeClass('hide');
        } else {
          $element.addClass('hide').removeClass('show');
        }
      }

      socket.on('connect', () => {
        console.log('Connected to websocket')
        localSocketId = socket.id;
      })

      socket.on('gameInfo', data => {
        // data ->{turn: 'X', board: {'11': null, '12': 'X', ...}, winner: 'X' } });
        boardData = data;
        updateTurn(data.turn);
        updateBoard(data.board);
        updatePlayers(data.players);

        let $winnerBanner = $('#winner');
        if (data.winner) {
          makeElementVisible(true, $winnerBanner);
          $winnerBanner.text(`${data.winner} is the winner!`);
        } else {
          makeElementVisible(false, $winnerBanner);
        }
      });

      socket.on('newGame', () => {
        gameCanStart = true;
        console.log('starting a new game');
      })

      socket.on('gameErased', () => {
        gameCanStart = false;
        localPlayer = null;
        $(`.play-btn[data-mark="X"]`).text('Play X').prop('disabled', false);
        $(`.play-btn[data-mark="O"]`).text('Play O').prop('disabled', false);        
      });

      $('.play-btn').click((event) => {
        let name = window.prompt('What is your name?');
        if (name) {
          let mark = event.target.dataset.mark;
          localPlayer = name;
          socket.emit('newPlayer', {mark: mark, name: name});
        }
      });

      // click on a square -> make a move
      $('#tictactoe td').click((event) => {
        if (boardData.winner === null && gameCanStart) {
          let pos = event.target.id;

          socket.emit('makeMove', {pos: pos});
        }
      });

      $('#new-game-btn').click(event => {
        socket.emit('eraseGame');
      });

    });

  </script>

</body>
</html>
